In [59]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, SVR, LinearSVC
from sklearn.naive_bayes import GaussianNB

In [60]:
#Import Training Data

df = pd.read_excel('Data/Leeds_20_21.xlsx')

In [61]:
df.head(5)

,Matchday,Day,Venue,Result,GF,GA,Opponent,ELO,xG,xGA,Poss,Attendance,Captain,Formation,Referee
0,1,Sat,Away,L,3,4,Liverpool,1986,0.6,3.3,50,NaN,Luke Ayling,4-1-4-1,Michael Oliver
1,2,Sat,Home,W,4,3,Fulham,1580,1.7,1.8,51,NaN,Liam Cooper,4-1-4-1,Anthony Taylor
2,3,Sun,Away,W,1,0,Sheffield Utd,1671,1.6,1.6,63,NaN,Liam Cooper,3-5-2,Paul Tierney
3,4,Sat,Home,D,1,1,Manchester City,1948,1.7,1.5,52,NaN,Liam Cooper,4-5-1,Mike Dean
4,5,Mon,Home,L,0,1,Wolves,1762,1.6,0.5,66,NaN,Luke Ayling,4-1-4-1,David Coote

In [62]:
#Import Test Data

df_test = pd.read_excel('Data/Leeds_Test_Data.xlsx')

In [63]:
df_test.head(5)

         Round Venue        Opponent  Result
0  Matchweek 1  Away  Manchester Utd    1922
1  Matchweek 2  Home         Everton    1767
2  Matchweek 3  Away         Burnley    1705
3  Matchweek 4  Home       Liverpool    1936
4  Matchweek 5  Away   Newcastle Utd    1721

In [64]:
#Taking Result Values And Making It A New List

df_train = df.Result

In [65]:
#Label Encoding Necessary Columns

le = LabelEncoder()

df['Venue'] = le.fit_transform(df['Venue'])
df_train_le = le.fit_transform(df_train)
df_test['Venue_LE'] = le.fit_transform(df_test['Venue'])

In [69]:
#I have trained 3 ML models - Decision Tree, Linear Regression, Naive Bayes
#Comment out the models you want to ignore.

#DECISION TREE
dt = DecisionTreeClassifier(criterion='entropy')
dt.fit(df[['Venue', 'ELO']], df_train)
dt_predictions = dt.predict(df[['Venue','Opponent']])

# #LINEAR REGRESSION
# lr = LinearRegression()
# lr.fit(df[['Venue', 'ELO']], df_train_le)
# pred_test_lr = lr.predict(df_test[['Venue_LE', 'Result']])

# #NAIVE BAYES
nb = GaussianNB()
nb.fit(df[['Venue', 'ELO']], df_train)
pred_test_nb = nb.predict(df_test[['Venue_LE', 'Result']])

In [70]:
pred_test_dt

array(['L', 'L', 'W', 'D', 'W', 'D', 'W', 'L', 'L', 'W', 'L', 'W', 'W',
       'W', 'W', 'L', 'W', 'D', 'L', 'L', 'W', 'W', 'L', 'W', 'L', 'D',
       'W', 'L', 'W', 'W', 'L', 'W', 'D', 'W', 'D', 'L', 'W', 'W'],
      dtype=object)

In [73]:
df_test['Result_NB'] = pred_test_nb
df_test['Result_DT'] = pred_test_dt

In [72]:
df_test.head(5)

         Round Venue        Opponent  Result  Venue_LE Result_NB Result_DT
0  Matchweek 1  Away  Manchester Utd    1922         0         L         L
1  Matchweek 2  Home         Everton    1767         1         D         L
2  Matchweek 3  Away         Burnley    1705         0         W         W
3  Matchweek 4  Home       Liverpool    1936         1         D         D
4  Matchweek 5  Away   Newcastle Utd    1721         0         W         W

In [74]:
df_test.to_csv("Leeds_Results.csv", header=True)